:root {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --gray: #808080;
  --light-gray: #d3d3d3;
  --black: #000000;
  --invalid-color: #ff0000;
  --valid-color: #006400;
  --white-font-color: #ffffff;
  --dark-blue-bg-color: #14143b;
  --light-blue-bg-color: #0000ff1a;
  --general-link-color: var(--gray);
  --visited-link-color: #ee82ee;
  --input-focus-color: #0000ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  font-size: 1.6rem;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
}

a {
  background-color: var(--dark-blue-bg-color);
  color: var(--general-link-color);
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: var(--visited-link-color);
}

.sidebar {
  position: relative;
  width: 35%;
  color: var(--white-font-color);
  background-image: url(../images/bg.jpg);
}

.logo {
  margin-top: 200px;
}

.logo-title {
  text-align: center;
  font-family: FiraCode, "Courier New", Courier, monospace;
  font-size: clamp(50px, 5vw, 150px);
}

.credits {
  position: absolute;
  width: 100%;
  bottom: 25px;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  align-items: flex-start;
  max-height: 100%;
  padding: 15px 25px;
  font-size: 2rem;
  overflow: auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

.description,
.trigger {
  width: clamp(25ch, 70%, 100ch);
}

.trigger {
  font-weight: 500;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}

fieldset {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  background-color: var(--light-blue-bg-color);
  border-radius: 5px;
}

legend {
  padding: 4px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 2.5rem;
  border-radius: 5px;
  border: 2px solid var(--gray);
  color: var(--gray);
}

.required-text {
  width: 100%;
  margin-bottom: 25px;
  color: var(--gray);
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: clamp(300px, 50%, 500px);
  margin-bottom: 55px;
}

label {
  width: max-content;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.6rem;
  cursor: pointer;
}

input {
  max-width: 400px;
  height: 4rem;
  padding: 5px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
}

input + span {
  position: relative;
  max-width: 400px;
}

input + span::after,
input + span::before {
  position: absolute;
  width: 100%;
  text-align: right;
}

input + span::before {
  margin-left: 20px;
  bottom: 1rem;
  font-size: 2rem;
  z-index: -1;
}

input:required {
  border: 1px solid var(--gray);
}

input:focus {
  border-width: 3px;
  border-color: var(--input-focus-color);
  box-shadow: 2px 2px 5px var(--gray);
  outline: none;
}

input:required + span::after {
  content: "*";
  bottom: 4rem;
  padding-right: 2px;
  font-size: 1.5rem;
}

input:valid:not(:placeholder-shown):not(:focus) {
  border: 2px solid var(--valid-color);
}

input:valid:not(:placeholder-shown):not(:focus) + span::before {
  content: "✓";
  color: var(--valid-color);
}

input:invalid:not(:placeholder-shown):not(:focus) {
  border: 2px solid var(--invalid-color);
}

input:invalid:not(:placeholder-shown):not(:focus) + span::before {
  content: "✖";
  color: var(--invalid-color);
}

input:invalid:not(:placeholder-shown):not(:focus) ~ p.error {
  display: block;
}

.error {
  position: absolute;
  top: 100%;
  display: none;
  width: 80%;
  margin-top: 10px;
  color: var(--invalid-color);
  font-size: 1.5rem;
}

.required {
  color: var(--invalid-color);
}

.submit-btn {
  width: calc(150px + 1rem);
  margin-top: 30px;
  padding: 5px;
  background-color: var(--light-blue-bg-color);
  border-radius: 5px;
  border: 2px solid var(--gray);
  cursor: pointer;
  color: var(--gray);
  box-shadow: 2px 2px 2px var(--black);
}

.submit-btn:focus {
  outline: none;
  border-color: var(--black);
  color: var(--black);
}

.submit-btn:hover {
  border-color: var(--black);
  color: var(--black);
}

.already-have-account {
  display: flex;
  gap: 15px;
}

.already-have-account a {
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  body {
    flex-direction: column;
    height: auto;
  }

  .sidebar {
    width: 100%;
  }

  .logo {
    height: 200px;
    padding: 10px;
    margin-top: 10px;
  }

  .main {
    padding: 10px;
  }

  .input-wrapper {
    margin-right: 10px;
  }
}
